.stories-section{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    background: #ffffff;
}
.firststories-desktop{
    display: block;
}
.firststories-mbl{
    display: none;
}
.stories-section h6{
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-left: unset;
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    color: #000000;   
}
/* .slick-arrow.slick-next {
    display: none !important;
    right: 0;
  }
  .slick-arrow.slick-previous{
    display: none !important;
    right: 0;
  } */

.slick-track{
    display: flex;
    width: 6135px !important;
    opacity: 1;
    /* width: 6135px !important; */
    /* opacity: 1 !important;
    transform: translate3d(0px, 0px, 0px) !important; */
}
.slick-prev{
    display: none !important;
}
.union-imgcontent{
    padding-right: 8px;
    margin-bottom: 0px;
}
.storiesservice-content{
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 90%;
    letter-spacing: -0.01em;
    padding-left: unset;
    padding-bottom: 90px;
    margin-bottom: 0px;
    color: #000000;
}
.bold-content{
    font-family: Sora-Bold;
}
.stories-imgcontent{
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.point-content{
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    padding-left: unset;
    padding-bottom: 10px;
    color: #000000;
}
.design-content{
    font-family: Sora-Bold; 
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 30px;
    padding-left: unset;
    padding-bottom: 80px;
    color: #000000;
}
.stories-button-wrapper{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding-top: 8px;
    padding-bottom: 100px;
} 
.stories-button {
    padding: 10px 25px;
    font-family: Sora;
    border: 1px solid #353535;
    background-color: #ffffff;
    font-size: 1.1em;
    position: relative;
}
/* .stories-button::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    left: -5px;
    bottom: 0px;
} */
.card-imgcontent img {
    padding-left: unset !important;
    padding-right: 20px !important;
  }
/* .slick-track{
    width: 324px !important;
    display: flex !important;
} */

@media (min-width: 320px) and (max-width: 771px){
    .stories-content {
        font-family: Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 19px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 16px;
        display: flex;
        color: #000000;
    }
    .card-imgcontent img {
        padding-left: 15px !important;
        padding-right: 0px !important;
    }
    .firststories-desktop{
        display: none;
    }
    .firststories-mbl{
        display: block;
    }
    .storiesservice-content {
        font-family: Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8em;
        line-height: 90%;
        letter-spacing: -0.01em;
        padding-left: 20px;
        padding-bottom: 40px;
        margin-bottom: 0px;
        color: #000000;
    }
    .point-content {
        font-family: Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 19px;
        padding-left: 14px;
        padding-bottom: 10px;
        color: #000000;
    }
    .design-content {
        font-family: Sora-Bold;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 30px;
        padding-left: 14px;
        padding-bottom: 50px;
        color: #000000;
    }
    .stories-button-wrapper {
        margin: 0 auto;
        justify-content: center;
        display: flex;
        padding-top: 8px;
        padding-bottom: 60px;
    }
}