.things-section{
    background: #3FC5B3;
}
.things-content{
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 21px;
    display: flex;
    color: #000000;   
}
.union-imgcontent{
    padding-right: 8px;
    margin-bottom: 0px;
}
.ideation-content{
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 90%;
    letter-spacing: -0.01em;   
    padding-left: 100px;
    padding-bottom: 80px;
    color: #000000;
}
.bold-content{
    font-family: Sora-Bold;
}
.icons-section{
    display: flex;
}
.whole-content{
    margin-left: auto;
    padding-bottom: 60px;
}
.strategy-imgcontent{
    width: unset;
    margin-bottom: 0px;
}
.strategy-content{
    font-family: Sora-Bold;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    padding-top: 32px;
    padding-bottom: 20px;
    color: #000000;   
}
.firstrow-content{
    padding-left: unset;
    padding-right: 80px;
}
.lastrow-content{
    padding-left: unset;
    padding-right: 442px;
}
.action-content{
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    padding-bottom: 32px;
    color: #000000;
}
.vectorarrow-imgcontent{
    display: block;
}
.row{
    display: flex;
}
.things-button-wrapper{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding-top: 8px;
    padding-bottom: 100px;
} 
.things-button {
    padding: 5px 30px;
    font-family: Sora;
    border: 2px solid #353535;
    background-color: #3FC5B3;
    font-size: 18px;
    position: relative;
}
.things-button::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #3FC5B3;
    border-radius: 50px;
    position: absolute;
    left: -5px;
    bottom: 0px;
}
@media (min-width: 320px) and (max-width: 771px){
    .things-content {
        font-family: Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 16px;
        display: flex;
        color: #000000;
    }
    .ideation-content {
        font-family: Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 90%;
        letter-spacing: -0.01em;
        padding-left: 20px;
        padding-bottom: 40px;
        color: #000000;
    }
    .firstrow-content {
        padding-left: 20px;
        padding-right: unset;
    }
    .strategy-imgcontent {
        width: 32px;
        margin-bottom: 0px;
    }
    .strategy-content {
        font-family: Sora-Bold;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 10px;
        color: #000000;
    }
    .vectorarrow-imgcontent{
        display: none;
    }
    .row{
        display: flow-root;
    }
    .action-content {
        font-family: Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 32px;
        color: #000000;
    }
    .whole-content {
        margin-left: auto;
        padding-bottom: unset;
    }
    .lastrow-content {
        padding-left: 20px;
        padding-right: unset;
    }
    .things-button-wrapper {
        margin: 0 auto;
        justify-content: center;
        display: flex;
        padding-top: 8px;
        padding-bottom: 50px;
    }
}
